<?xml version="1.0"?>
<launch>
  <node pkg="tfluna_ros" type="tfluna_ros_node" name="tfluna_ros_node" respawn="true">
    <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
    <param name="baud_rate" type="int" value="115200"/>
  </node>
  <node pkg="tf" type="static_transform_publisher" name="broadcasterTfluna" args="0 0 0 0 0 0 base_link Tfluna 100"/>
</launch>
